*{margin: 0; padding: 0; box-sizing: border-box;}


.main{
    border: 1px solid red;
    width: 100%;
    height: 100vh;
}
.image{
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.image img{
    display: block;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    object-position: center;
}
.card-image{
    position: relative;
}
#menu{
    width: 100%;
    height: calc(.5625 * 10vw);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    background-color: #EBD2BE;
    padding: 24px;
    opacity: .8;
}
#menu img{
    width: 100%;
    height: calc(.5624 * 20vw);
}
#menuNavbar ul{
    display: flex;
    justify-items: center;
    list-style-type: none;
    border-radius: 6px;
}

.information{
    width: 50%;
    padding: 20px;
    position: absolute;
    top: 20%;
}
.information .para h1{
    color: #fff;
    font-weight: 600;
    font-size: 2.76rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgb(43, 40, 40);
    position: relative;

}
.information .para{
    padding: 24px;
    margin-bottom: 12px;
}
.information .button a{
    padding: 8px 42px;
    font-size: 1.34rem;
    color: #fff !important;
}
.information .plus-info{
    background-color: #811B07;
    box-shadow: 2px 2px 2px #534e4c;
}
.information .deconecter{
    background-color: #CE0923;
    box-shadow: 2px 2px 2px #534e4c;
}
#menuNavbar ul a{
    padding: 0 12px;
    margin: 0 12px;
    font-size: 1.63rem;
    color: #000000;
}
#menuNavbar a:hover{
    background-color: rgb(196, 218, 218);
    color: black;
    border-radius: 4px;
    padding: 20px;
}
.denombrement{
    width: 50%;
    position: relative;
    top: 0%;
    transform: translate(100%, -120%);
    color: #F3E8EE;
    background-color: #353535;
    border-radius: 9px;
    opacity: .87;
}
.denombrement h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.73rem;
    font-weight: 600;
}
.engin{
    border: 4px solid rgb(20, 19, 19);
    margin: 0 4px 12px 3px;
    padding: 24px;
    border-radius: 8px;
}
.engin .nom-engin{
font-size: .98rem;
}
.engin .resultat-engin{
    color: #6CA7FC;
}
